.ourNav i {
    display: none;
    cursor: pointer;
    font-size: 20px;
}
li {
    position: relative;
    padding: 1px 8%;
    margin: 0 3px;
    transition: .4s;
}

.header {
    top: 0;
    z-index: 999;
    position: absolute;
    width: 100%;
}

@media (max-width: 600px) {

    .ourNav i {
        display: block;
    }

    .ourNav ul {
        position: absolute;
        height: fit-content;
        top: 55px;
        left: 0;
        flex-direction: column;
        background: #3333;
        width: 100%;
        text-align: center;
        overflow: hidden;
        transition: .4s;
    }

    .ourNav ul li {
        margin: 6% 0;
        padding: 1px 8%;
    }
}